solutions/
.DS_Store
.ipynb_checkpoints/

# Ignore SCTP folder and credentials
SCTP/
**/SCTP/
*.pem
*.key
connection_strings.txt

# Ignore large installer files
environments/Miniconda3-*.sh
*.dmg
*.pkg